.App {
  display: flex;
  text-align: center;
  text-justify: center;
  flex-direction: column;
  background-color: #edebeb;
  height: fill;
}

.App-page{
  display: flex;
  text-align: center;
  text-justify: center;
  justify-content: space-between;
  flex-direction: row;
  min-height: fill;

}

.App-message-text{
  color: "‎#FF0000";
  padding-bottom: 5px; 
}

.App-card-time{
  padding: 10px;
  font-size: 12px;

}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}

.App-icon {
  height: 60px;
}

.App-guage-card{
  padding: 30px;
  margin-top: 30px;
  display: flex;
  text-align: center;
  text-justify: center;
  justify-content: space-around;
  flex-direction: column;
}
.App-graph-card{
  padding-bottom: 30px;
  margin-top: 30px;
  display: flex;
  text-align: center;
  text-justify: center;
  justify-content: space-around;
  flex-direction: column;
}

.App-header {
  background-color: #222;
  height: 120px;
  padding: 20px;
  color: white;
}

.App-graph {

  height: 200px;
  margin-left: 50px;
  
  margin-right: 50px;
  color: white;
}

.App-intro {
  margin-top: 20px;
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
  

}
